# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/

# VS Code
.vscode/

# Flutter generated
**/GeneratedPluginRegistrant.*
**/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Example app
example/pubspec.lock
example/macos/Flutter/ephemeral/

# iOS (example app)
example/ios/Pods/
example/ios/Podfile.lock
example/ios/Runner.xcodeproj/project.pbxproj
example/ios/Flutter/
example/ios/Runner.xcodeproj/xcuserdata/

# macOS (example app)
example/macos/Flutter/GeneratedPluginRegistrant.swift

# Lock files (for plugin example)